
.navtitle{
    padding-left:1500px;
}
.heading{
    text-align: center;
    padding-top:300px;
    color:white;
    font-family: 'Bonheur Royale',cursive;
    weight: 400px;
    font-size:20px;
}
.sub_heading{
    color:white;
    font-family: 'Bonheur Royale',cursive;
    text-align: center;
    padding-top:20px;
}